# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/
env/

# Data
# Data/filtered/*.csv
# Data/raw/
# model_outputs/*.pkl

# OS files
.DS_Store
Thumbs.db
